<h1>About page</h1>
<p>This website is designed to help the Kent Denver Climbing coaches communicate, collaborate, and record.</p>
<p>To approve a proposed practice, please select edit and type your name into the first open approval box.</p>
<p>In Roster, click on a climber to suggest a funny, nice, silly award for them to win this year.</p>
<p>Please feel free to explore and let me know what else you would like to see here!</p>
