<h1>About page</h1>
<p>This website is designed to help the Kent Denver Climbing coaches communicate, collaborate, and record.</p>
<p>Please feel free to explore and let me know what else you would like to see here!</p>
