<h1> Captains </h1>
<p>Andrew (Senior)</p>
<p>Chloe (Senior)</p>
<p>Matthew (Senior)</p>
<br>
<h2> Seniors </h2>
<p>Mel</p>
<p>Austine</p>
<br>
<h2> Juniors </h2>
<p>Morgan</p>
<p>Bobby</p>
<p>Adam</p>
<p>Alec</p>
<br>
<h2> Sophomores </h2>
<p>Jack</p>
<p>Tinius</p>
<p>Rorrik</p>
<br>
<h2> Freshman </h2>
<p>Chloe</p>
<p>Lauren</p>
<p>Max</p>
<p>Jake</p>
<p>Giana</p>
<p>Anna</p>
<p>Jack</p>
